
// DESKTOP WIDTH

$desktopWidth:				1280px;
$smDesktopWidth:			980px;
$tableWidth:				768px;
$phoneWidth:				480px;
$smPhoneWidth:				320px;

// FONT

$font-primary:				'Merriweather', serif;
$font-color-primary:		#888;
$line-height-primary:		1.4;
$font-size-primary:     	18px;
